.container {
  padding: 6rem 0rem;
}

thead {
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.idk {
  display: inline;
  display: flex;
  border-top: 1px solid #dee2e6;
  justify-content: center;
  gap: 100px;
  padding-left: 20px;
}

.divtd {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  justify-content: space-evenly;
}

.divinline {
  display: inline;
}

tbody td {
  font-size: 0.8rem;
  padding: 20px;
  padding-left: 60px;
  display: inline;
}
thead tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr; */
  gap: 100px;
  color: #666;
  font-size: 0.8rem;
  /* padding-left: 12px; */
  padding: 20px;

  justify-content: center;
}

thead th {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  color: #666;
  font-size: 0.8rem;
  padding: 20px;
  padding-left: 60px;
}

.table-image {
  border: 0;
  color: #666;
  font-size: 0.8rem;
  vertical-align: middle;
  text-align: center;
  max-width: 2rem;
}

.qty {
  max-width: 2rem;
}

.modal-footer {
  padding-top: 0rem;
}

.price {
  margin-left: 1rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.tdqty {
  padding-left: 140px;
}

.tdtotal {
  padding-left: 140px;
}

.tdprice {
  padding-left: 60px;
  display: inline-block;
}
