.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.modal {
  position: fixed;
  top: 20vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* width: 90%; */
  height: 50%;
  margin: auto;
  right: 25%;

  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow: auto;
}
