/* Add button on Product List Page */
.addbtn {
  // background-color: #37b24d;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #333;

  font-size: 20px;
  font-weight: 500;
  padding: 2px 15px;
  text-decoration: none;
  transition: 0.4s all;
}

/* Cancel Btn on Product Add Page */
.cancel-btn {
  // background-color: #c92a2a;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #333;

  font-size: 20px;
  font-weight: 500;
  padding: 2px 15px;
  text-decoration: none;
  transition: 0.4s all;
}

/*Save Button on Product Add page */
.myButton {
  // background-color: #37b24d;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #333;

  font-size: 20px;
  font-weight: 500;
  padding: 2px 15px;
  text-decoration: none;
  transition: 0.4s all;
}

/* MASS Delete Button on Product List Page */

.delete-btn {
  // background-color: #c92a2a;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #333;

  font-size: 20px;
  font-weight: 500;
  padding: 4px 15px;
  text-decoration: none;
  transition: 0.4s all;
}

.delete-btn:active {
  position: relative;
  top: 1px;
}
