@import "./Variables.scss";

.footercontainer {
  margin-top: 260px;
  @include Flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #999;
  margin-left: 120px;
  margin-right: 120px;

  .addproductfooter {
    margin-top: $secondSize;
  }
}
