@import "./Variables.scss";

.containeraddproduct {
  width: 1200px;
  height: 600px;
}

.switchercontainer {
  padding: $primarySize;
}

.divcontainer {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $primarySize;

  .label__title {
    font-weight: 700;
  }
}

.formcontainer {
  border-top: 1px solid #999;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 380px;
}

.validationerror {
  color: red;
}

.headercontainer {
  @include FlexRowSpace;
  margin-bottom: $primarySize;

  .hcontainer {
    @include Flex;
  }
  .buttonscontainer {
    @include Flex;
    justify-content: flex-end;
    gap: $primarySize;
  }
}

.input {
  position: relative;

  &__label {
    position: absolute;
    top: 0;

    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: 700;
    line-height: 1.2;
    transform: translate(5%, 10%);
    color: #333;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 150%;
    border: 3px solid #999;

    color: #333;
    flex-grow: 70%;
    border-radius: 8px;

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -75%) scale(0.8);
        color: var(--color-accent);
      }
    }
  }
}

/* Switch Types CSS classes(weight,size,dimensions)*/

.typeclass {
  margin-left: 108px;
  margin-top: $primarySize;
}

.typeswitchcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: $primarySize;
  gap: 32px;

  .typeswitcher {
    border-radius: 8px;
    font-weight: 500;
    padding: 8px;
  }
}

/* MEDIA QUERIES */

