@import "./Variables.scss";

.productlistcontainer {
  width: 1200px;
}

.headercontainer {
  @include FlexRowSpace;
  margin-bottom: $primarySize;

  .hcontainer {
    @include Flex;
  }
  .buttonscontainer {
    @include Flex;
    justify-content: flex-end;
    gap: $primarySize;
  }
}

.cardcontainer {
  border-top: 1px solid $blackColor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cardproductlist {
  border: 1px solid $blackColor;

  position: relative;
  padding: 70px;
  margin: auto;
  margin-bottom: 4rem;
  overflow: hidden;
  width: 70%;
  max-height: 499px;
  transition: all 0.4s;
  margin-top: $primarySize;
}
