li {
  list-style: none;
  font-size: 22px;
  padding: 24px;
  font-size: 19px;
  color: white;
  display: flex;
  justify-content: center;

  /* margin-top: 24px;
  margin-bottom: 24px; */
}

div {
  align-items: center;
  padding: 12px;
}
ul {
  text-align: center;
}

.meals {
  max-width: 60rem;
  width: 40%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.card {
  margin-bottom: 2rem;
}
