.my-button {
  /* background: rgb(0, 46, 250); */
  /* background-color: #196bca; */
  color: #111;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;

  border: 0px solid #000;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 4rem;
  margin-top: 22px;
  transition: all 0.2s;
}
.my-button span {
  margin-bottom: 5px;
  display: block;

  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
}
.my-button:hover {
  background-color: #021e4e;
  color: white;
}
.my-button:active {
  transform: scale(0.95);
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  padding: 2rem;
}
